#workspaces {
  border-radius: 8px;
  background-color: #083232;
  padding: 4px 4px;
  margin: 4px 0;
}

#workspaces button {
  color: #b0e8e8;
  background: transparent;
  padding: 0 6px;
  margin: 0 2px;
  min-width: 16px;
  min-height: 16px;
  border-radius: 25%;
  border: none;
}

#workspaces button.active {
  background-color: #106363;
}

#workspaces button:hover:not(.active) {
  background: #094545;
}

#clock {
  border-radius: 8px;
  background-color: #083232;
  padding: 4px 12px;
  margin: 4px 0;
  margin-right: 8px;
}

#clock:hover {
  background-color: #094545;
}

#tray {
  border-radius: 8px;
  background-color: #083232;
  padding: 4px 12px;
  margin: 4px;
}

