window {
    margin: 0px;
    border: 2px solid #1a1a1a;
    background-color: #0d0d0d;
    border-radius: 8px;
    font-family: sans-serif;
    font-size: 12px;
    color: #dddddd;
}

#input {
    margin: 8px;  
    border: 1px solid #444444;
    color: #dddddd;
    background-color: #0d0d0d;
    border-radius: 8px;  
    padding: 6px 12px; 
    outline: none;
}

#inner-box {
    margin: 0px;  
    border: none;
    background-color: transparent;
}

#outer-box {
    margin: 0px;  
    border: none;
    background-color: transparent;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 0px 5px;  
    border: none;
    color: #dddddd;
}

#entry {
    margin: 2px 8px;  
    padding: 6px;  
    border: none;
    border-radius: 8px;
}

#entry:selected {
    background-color: #1a1a1a;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    outline: none;
}