* {
  font-size: 14px;
  padding: 0;
  margin: 0;
  font-family: "JetBrainsMono Nerd Font Propo", monospace;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#waybar {
  background: #041616;
  color: #6be3e3;
}

@import "modules/workspaces.css";
@import "modules/cpu.css";
@import "modules/memory.css";
@import "modules/clock.css";
@import "modules/bluetooth.css";
@import "modules/network.css";
@import "modules/pulseaudio.css";
@import "modules/backlight.css";
@import "modules/battery.css";
@import "modules/custom-net-speed.css";
@import "modules/right.css";
@import "modules/left.css";