#backlight,
#pulseaudio {
  color: #b0e8e8;
  background: #094545;
  padding: 0 6px;
  margin: 0 2px;
  min-width: 16px;
  min-height: 16px;
  border-radius: 8px;
  border: none;
}

#backlight:hover,
#pulseaudio:hover {
  background: #106363;
}