[SddmGreeterTheme]
Name=my-sddm
Description=My SDDM
Author=keyitdev
Type=sddm-theme
ConfigFile=Themes/theme.conf
MainScript=Main.qml
TranslationsDirectory=translations
QtVersion=6
